*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 100;
    background-color: white;
}

.logo {
    height:auto;
    width: 150px;
}

header {
    margin-bottom: 35px;
}


nav {
    background: #f7a100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0 270px;
}

ul {
    list-style: none;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
}

.menu a {
    text-decoration: none;
}

/* mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
}

article {
    /* background-color: white;
    width: 310px;
    border-radius: 0.5em;    
    padding: 1.5em;
    margin-left: 16px; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.article-link {
    text-decoration: none;
    display: block;
}

.article-link:visited {
    color: #000;
}

.slide-images {
    width: 275px;
    height: 300px;
    object-fit: contain;
    padding-right: 1em;
    padding-left: 1px;
}

main {
    display: flex;
    justify-content: center;
}

.slider {
    width: 300px;
    height: 200px;
    display: flex;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid white;

}

.clickable-images {
    margin-top: 3px;
    padding: 3px;
}

.clickable-images img {
    margin: 3px;
    /* width: 200px;
    height: 100px; */
    width: 93px;
    height: 80px;
    object-fit: cover;
    border: 2px solid white;
}

@media (min-width: 800px) {
    main {
        display: flex;
        flex-direction: row;
        color: #F7A100;
    }

    article {
        margin-right: 1em;
    }
}

div.scroll-container {
    background-color: #E6F2F7;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

/* .container2 {
    background-color: #E6F2F7;
    margin-top: 3%;
} */

#container {
    width: 900px;
    height: 150%;
    background-color: #ffcc33;
    margin: auto;
}

.footer {
      background-color: rgb(225, 225, 225);
      padding: 0 270px;
      width: 100%;
      position: absolute;
      margin-top: 35px;
      line-height: 35px;
      align-items: center;
}

.container {
    max-width: 1170px;
    margin-top: 4%;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col {
    width: 24%;
    padding: 0 30px;

}

.footer-col h4 {
    font-size: 18px;
    color: black;
    font-weight: 500px;
    
}

.footer a {
    text-decoration: none;
}