*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(243, 237, 237);
}

.logo{
    height:auto;
    width: 150px;
}

header {
    margin-bottom: 35px;
}


nav{
    background: burlywood;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0 270px;
}

ul{
    list-style: none;
}

.menu li{
    font-size: 16px;
    padding: 15px 5px;
}

.menu a{
    text-decoration: none;
}

/* mobile menu */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
}

article {
    background-color:#e28a3d;
    width: 300px;
    border-radius: 0.5em;    
    padding: 1.5em;
    margin-left: 16px;
    /* margin-left: 0em; */    
}

.article-link {
    text-decoration: none;
    display: block;
}

.article-link:visited {
    color: #000;
}

img{
    width: 275px;
    padding-right: 1.5em;
}

.image-1{
    width: 5em;
    padding: 0em;
}

main {
    display: flex;
    justify-content: center;
}

@media (min-width: 40em) {
    main {
        display: flex;
        flex-direction: row;
    }

    article {
        margin-right: 1em;
    }
}

.footer{
      background-color: lightgrey;
      padding: 70px 0;
      width: 100%;
      position: absolute;
      margin-top: 35px;
      padding: 60 100px;
      line-height: 35px;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: black;
    font-weight: 500px;
    
}

.footer a{
    text-decoration: none;
}