*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(243, 237, 237);
    padding-left: 2em;
}

.logo{
    height:auto;
    width: 150px;
}

div{
    /* max-width: 984px; */
    margin: auto;
    background-color:burlywood ;
    
}
nav{
    background: burlywood;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 24px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: auto;
    max-width: 984px;
}

ul{
    list-style: none;
}

.menu li{
    font-size: 16px;
    padding: 15px 5px;
}

.menu a{
    text-decoration: none;
}

/* mobile menu */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
}

article {
    background-color:#e28a3d;
    width: 300px;
    border-radius: 0.5em;    
    padding: 1.5em;
    /* margin-left: 0em; */
    margin: auto;
    
}

img{
    width: 275px;
    padding-right: 1.5em;
}

.image-1{
    width: 5em;
    padding: 0em;
}

@media (min-width: 40em) {
    main {
        display: flex;
        flex-direction: row;
    }

    article {
        margin-right: 1em;
    }
}

